body {font-family: 'Times New Roman', Times, serif; background-color:black;
color: yellow;
background: url("https://w0.peakpx.com/wallpaper/51/380/HD-wallpaper-spiderman-logo-spider-thumbnail.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
h1 {color:yellow;}
